<h1>Genres</h1>

<a href="/genres/new">Add Genre</a>

<% for genre in @all_genres %>    
    <ul>
      <li><%= genre.name %></li>
      <li><a href="/genres/delete">Delete</a></li>
      <li><a href="/genres/edit">Update</a></li>
    </ul>

  <hr />
<% end %>
