<!DOCTYPE html>

<html>
  
  <head>
  
    <title>Big Al's Music Store</title>
    
    <link rel="stylesheet" type="text/css" href="inventory.css" />
  
  </head>

  <body>

  <a href="/albums">Inventory</a>
  <a href="/artists">View Artists</a>
  <a href="/search">Search</a>

    <%= yield %>

  </body>

</html>