<!DOCTYPE html>

<html>
  
  <head>
  
    <title>Big Al's Music Store</title>
    
    <link rel="stylesheet" type="text/css" href="navbar.css" />
    <link rel="stylesheet" type="text/css" href="inventory.css" />
    
  </head>

  <body>
  
  <div id="navbar">
      <a class="navlink" href="/albums">Inventory</a>
      <a class="navlink" href="/artists">View Artists</a>
      <a class="navlink" href="/search">Search</a>
  </div>

    <%= yield %>

  </body>

</html>