#navbar {
  align-items: center;
  background-color: red;
  text-decoration: none;
  padding-top: 30px;
  text-decoration: none;
};

#menu {
  text-decoration: none;
  color: red;
};

.navlink {
  text-decoration: none;
};

a {
  text-decoration: none;
};