<h1>Search</h1>

<form action="/search/search_albums" method="get">

<p>

<label for="title">Album: </label>
  <input type="text" id="title" name="title" />
<input type="submit" value="Search" />
</p>
<p>Or...</p>
<p>

</form>

<form action="" method="get">
<label for="name">Artist: </label>
  <input type="text" id="name" name="name" />
<input type="submit" value="Search" />
</p>

</form>
